# Ignore Python virtual environments
env/
venv/
ENV/
.env
*.env

# Ignore PyCharm project files
.idea/
*.iml

# Ignore compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Ignore log and temporary files
*.log
*.tmp
*.swp
.DS_Store  # macOS system file

# Ignore SQLite database files
*.sqlite3
*.db

# Ignore Jupyter notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore pip/setuptools cache and build artifacts
pip-wheel-metadata/
*.egg-info/
.eggs/
dist/
build/
